/* Basics but necessary*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------- */

/* Css of Body */
body{
    background-image: url("../images/bg.jpg");
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* ----------- */

/* All css of our frame */
.card{
    position: absolute;
    background-color: #201c29;
    border-radius: 2rem;
    top: 50%;
    left: 50%;
    width: 27rem;
    height: 25rem;
    transform: translate(-50%, -50%);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 1.0);
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ----------- */

/* All css of our images */
.card .flip .front img {
    border-radius: 100%;
    margin: 0 0 1rem 0;
	width: 6.25rem;
}

/* ----------- */

/* It's all what i have about front */
.front {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.front p {
    color: rgba(255,255,255,0.329);
    padding-top: 1rem;
}

.front h1 {
    font-weight: normal;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: #201c29;
}
/* ----------- */


/* How i did to spin the card */
.card:hover .flip{
    transform: rotateX(180deg) translate3d(0, 0, 0);
}

.flip{
    width: 80%;
    transform-style: preserve-3d;
    transition: all 0.7s ease-in-out;
}
/* ----------- */

/* Back version of card */
.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateX(-180deg);
    position: absolute;
    top: 0;
    left: 0; 
}

.back h2 {
    color: rgba(255, 255, 255, 0.7);
    margin: 3rem;
    transition: 1s ease;
}

.back h2:hover{
    font-size: 1.7rem;
}
/* ----------- */

/* Nav Things */
.icons{
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
    gap: 3rem;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    transition-property: color, background-color;
}
/* ----------- */

/* Estilizando ícones */
.discord{
    color: #7289da;
}

.discord:hover{
    font-size: 2rem;
}

.linkedin{
    color: whitesmoke;
}

.linkedin:hover{
    font-size: 2rem;
}

.github{
    color: #6e5494;
}

.github:hover{
    font-size: 2rem;
}

.wpp{
    color: #128C7E;
}

.wpp:hover{
    font-size: 2rem;
    border-color: #42e0c6;
}
/* ----------- */


/* Bar of navigation */
.container{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem;
}

.container .logo {
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    font-weight: bolder;
    font-style: italic;
    color: white;
    transition: 0.6s;
}

.container ul{
    list-style: none;
}

.container ul li {
    display: inline;
}

.container ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1.25rem;
    transition: 0.6s;
}

.container ul li a:hover, .container .logo:hover {
    background-color: #201c29;
    border-radius: 1.75rem;
}
/* ----------- */