#listaRegistros {
  display: none;
}
#cadastroRegistro {
  display: none;
}

body[page="lista"] #listaRegistros {
  display: block;
}

body[page="cadastro"] #cadastroRegistro {
  display: block;
}


body[page="lista"] footer {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1c1c1c !important;
}

.formulario {
  width: 40% !important;
  height: 24.5em !important;
  border: solid 1px inherit;
  border-radius: 20px;
  margin-top: 10%;
}

.btn-high {
  width: 30%;
}

#labelname {
  margin: 6%;
}

footer {
  padding: 2rem 0rem;
  margin-top: 6%;
  height: 100% !important;
}

.container-footer {
  padding: 0 4%;
  margin: auto;
  height: 100% !important;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 2rem 0rem;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #cecdcd;
  padding-left: 10px;
}

.center {
  margin-left: 30%;
}
